<div class="new-question-container">
  <h3>Rédiger une question</h3>
  <%= simple_form_for(@question) do |f| %>
  <div class="new-question-level">
    <%= f.input :level, as: :radio_buttons, label: "Niveau", collection: [["départemental", "départemental"], ["régional", "régional"]] %>
  </div>
  <div class="new-question-category">
    <%= f.input :category, as: :radio_buttons, label: "Catégorie", collection: [["généralités", "généralités"], ["fleuret", "fleuret"], ["épée", "épée"], ["sabre", "sabre"]] %>
  </div>
  <%= f.input :statement, label: "Énoncé de la question" %>
  <%= f.input :prop_one, label: "Réponse une" %>
  <%= f.input :prop_two, label: "Réponse deux" %>
  <%= f.input :prop_three, label: "Réponse trois" %>
  <div class="new-question-answer">
    <%= f.simple_fields_for :answer, Answer.new do |a| %>
      <%= a.input :good_prop, as: :radio_buttons, label: "Bonne réponse", collection: [["Réponse une", "un"], ["Réponse deux", "deux"], ["Réponse trois", "trois"]], _destroy: '1' %>
      <%= a.input :explanation, label: "Explication de la réponse", _destroy: '1' %>
    <% end %>
  </div>
  <%= f.submit "Valider la question", class: "btn-blue submit-new-question" %>
  <% end %>
</div>
