<div class="qcm-container" role="main">
    <div class="timer">
        <p>Temps</p>
        <p><span class="minutes"></span> min</p>
        <p><span class="seconds"></span> sec</p>
    </div>
    <h2 class="qcm-title" data-level="<%= @level %>">Qcm <%= @level == "départemental" ? 'départemental' : 'régional' %>
     spécifique
     <% if @category == "fleuret" %>
      fleuret
     <% elsif @category == "épée" %>
      épée
      <% else %>
      sabre
      <% end %>
    </h2>
    <div class="qcm-general-questions">
      <h3>Questions générales</h3>
        <% @questions_generales.each_with_index do |question, index| %>
          <form class="question-qcm-forms-general" data-index="<%= index %>" data-good-answer="<%= question.answer.good_prop %>">
            <legend><%= question.statement %> :</legend>
            <label>
              <input name="question-general-<%= index %>" type="radio" value="un">
              <%= question.prop_one %>
            </label>
            <label>
              <input name="question-general-<%= index %>" type="radio" value="deux">
              <%= question.prop_two %>
            </label>
            <label>
              <input name="question-general-<%= index %>" type="radio" value="trois">
              <%= question.prop_three %>
            </label>
            <div class="answer-qcm-question hide-element">
              <p class="hide-element">La bonne réponse est la réponse <%= question.answer.good_prop %>.</p>
              <p><%=  question.answer.explanation %>.</p>
            </div>
          </form>
        <% end %>
    </div>
    <div class="qcm-specific-questions">
      <h3>Question spécifiques</h3>
        <% @questions_specifiques.each_with_index do |question, index| %>
          <form class="question-qcm-forms-specific" data-index="<%= index %>" data-good-answer="<%= question.answer.good_prop %>">
            <legend><%= question.statement %> :</legend>
            <label>
              <input name="question-specific-<%= index %>" type="radio" value="un">
              <%= question.prop_one %>
            </label>
            <label>
              <input name="question-specific-<%= index %>" type="radio" value="deux">
              <%= question.prop_two %>
            </label>
            <label>
              <input name="question-specific-<%= index %>" type="radio" value="trois">
              <%= question.prop_three %>
            </label>
            <div class="answer-qcm-question hide-element">
              <p class="hide-element">La bonne réponse est la réponse <%= question.answer.good_prop %>.</p>
              <p><%= question.answer.explanation %>.</p>
            </div>
          </form>
        <% end %>
    </div>
    <button class="question-qcm-form-submit btn-blue" data-bs-toggle="modal" data-bs-target="#result_modal">Valider les réponses</button>
    <!-- Lien de retour à l'accueil quand le user a regardé la correction du qcm -->
    <a href="/" class="question-qcm-homepage-return btn-blue hide-element">Retour à l'accueil</a>
    <div class="top-button">
      <button class="btn-blue"><i class="fas fa-angle-up"></i></button>
    </div>
</div>
<!-- Modal avec le resultat du qcm -->
<div class="modal fade" id="result_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Résultat</h5>
      </div>
      <div class="modal-body">
        <!-- Ajout du texte en JS -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary correction-qcm" data-bs-dismiss="modal">Voir la correction du QCM</button>
        <button type="button" class="btn btn-primary homepage-qcm" data-bs-dismiss="modal">Retour à la page d'accueil</button>
      </div>
    </div>
  </div>
</div>


